
body{
    background-color:#f6fffb;
    width:100%;
    height:100%;   
}
.columns-read{
    background-color:#efd;
}

.columns-read >h1{
     background-color:#efd;
      font-family:Times;
      font-size:2.9rem;
      text-align:center;
      text-decoration:none;
      margin-top:20px;   

  }

  .paragraph > p{
      font-family:Times;
      text-align:center;
      align-items:center;
      font-size:1.2rem;
      font-weight:500;
     padding-right:24px;   

  }


   input[type=text], input[type=submit] {
    width: 300px;
    padding:11px;
    margin:4px;
    display: inline-block;
    border:1px solid black;
    box-sizing:border-box;
  }
  .columns-news > img{
      width:200px;
      height:200px;
      padding-left:70px;
  }

  .columns-events > img{
      width:200px;
      height:200px;
      padding-left:70px;
  }

  .columns-data > img{
      width:200px;
      height:200px;
      padding-left:70px;
  }
 .columns-logo{
     background-color:#efd;
 }
  .columns-logo > img{
      width:200px;
      height:30px;
      background-color:#efd;
      display:block;
      padding-left:70px;
      background-position:center;
      padding-top:3vh;

  }

  .columns-sources > img{
      width:300px;
      height:300px;
      padding-left:8px;
      padding-bottom:47px;
  }


.columns-personalized{
    background-color:#FFF8D6;
    margin-left:-8px;
}

  .columns-personalized > img{
      width:360px;
      height:350px;
      background-color:#FFF8D6;
     padding-bottom:60px;
     padding-top:0px;
  
      
      }
 
 
 
 
     
  
  
  
  
  .container > input{
      align-items:center;
      margin-left:1.3rem;

  }
  .para >.caption{
      font-family:Times;
      font-size:.9rem;
      font-weight:500;
      display:block;
      text-align:center;
      padding-top:1vh;
      padding-right:23px;
      padding-left:4px;

  }

  input[type=submit] {
      font-family:'Times New Roman', Times, serif;
    background-color: #618264;
    color: white;
    text-transform:uppercase;
    font-weight:550;
    display:block;
    margin:auto;
    margin-top:1vh;
    padding:12px 97px;
    text-align: center;
    text-align:left;
    font-size:1.2rem;
    justify-content: space-between  ;
    border-radius:2px;
  }

  input[type=submit]:hover {
    opacity: 0.8;
  }
  .column-All > h1{
      font-family:Times;
      font-size:2.4rem;
  }

  input[type=text]{

  padding: 12px;
  margin: auto;
  text-align:center ;
  text-align:left;
  display:block;
  box-sizing:border-box;
  }

.columns-news >h3{
     font-family:Times;
    text-align:center;
    font-size:1.7rem;
    margin-top:0px;
    margin-bottom:10px; 

}


.columns-news > p{
    text-align:center;
    text-align:left;
    font-weight:400;
    padding-left:40px;
    margin-top:10px;

}

.columns-events >h3{
    font-family:Times;
    text-align:center;
    font-size:1.7rem;
    margin-top:0px;
    margin-bottom:10px;

}

.columns-events >p{
    text-align:center;
    text-align:left;
    font-weight:400;
    padding-left:40px;
    margin-top:10px;
    }

.columns-data >h3{
    font-family:Times;
    text-align:center;
    font-size:1.7rem;
    margin-top:-12px;
    margin-bottom:10px;

}

.columns-data >p{
  text-align:center;
    text-align:left;
    font-weight:400;
    padding-left:40px;
    margin-top:10px;
}





.column >h1{
    font-size:1rem;
}

.column-text >h2{
    font-family:Times;
        font-size:2.1rem;
 padding-left:10px;
    padding-top:130px;
    margin-bottom:10px;
}

.column-text >p{
    font-weight:400;
    padding-left:12px;
    margin-top:10px;


}
.columns-sources >img {
    padding-top:40px;
}

.column-read >h2{
    background-color:#FFF8D6;
    font-family:Times;
    font-size:1.9rem;
    padding-left:20px;
    padding-top:0px;
    margin:0px;
}
.column-read{
    background-color:#FFF8D6;
    margin-left:-8px;
}

.column-read >p{
    background-color:#FFF8D6;
    font-family:Times;
    padding-left:16px;
    padding-right:10px;

    
}

.column-find >h2{
    font-family:Times;
    font-size:38px;
    padding-top:14vh;
    padding-left:15px;
    margin-bottom:10px;
}

.column-find > p{
    font-family:Times;
      text-align:center;
      align-items:center;
      font-size:1.2rem;
      font-weight:500;
     padding-right:24px; 
    margin-top:10px;
}

.column-FAQ >h2{
    font-family:Times;
    font-size:2.1rem;
    padding-top:6vh;
    padding-left:4px;
   margin-bottom:12px;
}

.contan  >h3{
   
    padding-left:20px;
    font-size:1.7rem;
    }


.column-find >p{
    padding-top:10px;
    
}


    
    
.footer ul li {
  list-style: none;
}  
       
.footer ul li a {
  font-weight: bold;
  color: black;
  background-position:center;
  
  text-decoration:underline;
  
}
.columns-con{
    display:flex;
    align-items:center;
    column-gap:40px; 
    padding-bottom:50px;
    
}


.contan {
    display:flex;
    align-items:center;
   column-gap:80px;
   border-bottom:2px solid ;
   border-color:#C0C5CD;
   padding-bottom:20px;
   
}
.contan >.fa fa-plus{
    width:0px;
    height:0px;
    
}

.contai >h3{
    padding-top:0px;
    padding-left:20px;
    padding-right:32px;
    font-size:1.7rem;
}

.contai {
    
     display:flex;
    align-items:center;
   column-gap:0px;
   border-bottom:2px solid ;
   border-color:#C0C5CD;
   padding-bottom:20px;
}

.contai >i{

   width:0px;
   height:0px;
   padding-right:40px;
}


.column-FAQ {
    padding-bottom:50px;
}





































