
body{
    
  width:100%;
  height:100%;
    
}

h1{
    font-family:Times;
    font-size:2.7rem;
    text-align:center;
   margin-top:0vh;
   margin-right:10px;
    text-decoration:none;   
    
}

.paragraph > p{
    font-family:Times;
    text-align:center;
    align-items:center;
    font-size:1rem;
    font-weight:500;
    margin-right:20px;   
   
}
    
 
 input[type=text], input[type=submit] {
  width: 300px;
  padding: 11px;
  margin: 9px 0px;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}
.columns-news > img{
    width:200px;
    height:200px;
    margin-left:70px;
}

.columns-events > img{
    width:200px;
    height:200px;
    margin-left:70px;
}

.columns-data > img{
    width:200px;
    height:200px;
    margin-left:70px;
}
.columns-logo > img{
    width:200px;
    height:30px;
    text-align:center;
    margin-right:0px;
    margin-left:70px;
    padding-top:2.6vh;
}

.columns-sources > img{
    width:300px;
    height:300px;
    margin-left:30px;
}


.columns-personalized > img{
    width:300px;
    height:300px;
    margin-left:30px;
}
.container > input{
    align-items:center;
    margin-left:1.3rem;
 
}
.caption{
    font-family:Times;
    font-size:.8rem;
    font-weight:500;
    margin-top:0px;
    
}

.para > caption{
    margin-top:90px;
}


































 

